.app {

  &__container {
    display: flex;
    height: calc(100vh - 80px);

    &__heading {
      text-align: center;
      font-size: 5rem;
      font-weight: 600;
    }
  }

  &__textfield {
    margin-bottom: 30px;
  }

  &__sidebar {
    flex-basis: 250px;
    background: $color-primary-light-1;
    flex-shrink: 0;
  }

  &__main {
    width: calc(100vw - $aside-width);
    flex-grow: 0;
  }




}

.spending__form .MuiInputBase-formControl {
  margin-bottom: 3rem;
}

