.app {

  &__container {
    display: flex;
    height: calc(100vh - 80px);

    &__heading {
      text-align: center;
      font-size: 5rem;
      padding: 3rem 0 0;
    }
  }

  &__sidebar {
    flex-basis: 250px;
    background: $color-primary-light-1;
    flex-shrink: 0;
  }

  &__main {
    width: calc(100vw - $aside-width);
    flex-grow: 0;
  }
}

.MuiInputBase-formControl {
  margin-bottom: 3rem;
}