.goal__set {

  &--form {
    width: 100%;
    padding: 0 2rem;
   margin: 1.5rem 0;
  }

  &__header {
    font-size: 1.3rem;
    //margin-bottom: 1.5rem;
    font-weight: 700;
    vertical-align: middle;

    &_form {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 700
    }
  }

}
