.spendings__table {
    &__head {
        text-align: center;
    }

    &__expense {
        color: $color-red;
        font-weight: 700;
    }

    &__income {
        color: $color-green;
        font-weight: 700;
    }

    &__last-column {
        width: 10%;
    }
}

.grid__category {
    font-weight: 700;
}
