// COLORS

$color-primary: rgba(0, 96, 135, 1);
$color-primary-light-1: rgba(0, 157, 189, 1);
$color-green: #2b8a3e;
$color-red: #c92a2a;
$color-gray-text: #868e96;

:export {
  colorPrimary: $color-primary;
  colorPrimaryLight1: $color-primary-light-1;
  colorGreen: $color-green;
  colorRed: $color-red;
  colorGrayText: $color-gray-text;
}

//WIDTH
$aside-width: 25rem;
