* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
}


.MuiInputBase-input {
  font-size: 1.8rem;
}
